* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  background-color: #223a5f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100px;
  height: 90px;
  border-radius: 10px;
  font-weight: bold;
}
.titlesContainer {
  line-height: normal;
  margin: 0px;
  padding: 0px;
}
.title {
  line-height: normal;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
}
.gameContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
.iconSize {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  cursor: pointer;
}
.resultIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.resultContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.resulIcontContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.playAgainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  background-color: white;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  padding: 3px;
}

.rulesBtn {
  background-color: white;
  color: #223a5f;
  align-self: flex-end;
  border-width: 0px;
  border-style: none;
  border-radius: 3px;
  width: 50px;
  padding: 3px;
  margin-top: 30px;
  margin-right: 30px;
}
:hover.rulesBtn {
  cursor: pointer;
  background-color: azure;
}
.popImage {
  width: 80%;
  justify-self: center;
}
.popupImageContainer {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.closeBtn {
  align-self: flex-end;
}
